
header {
    background: black;
    color: #ffffff;
    width: 100%;
    padding-top: 10px;
    min-height: 30px;
    position: fixed;
    z-index: 1000;
    text-align: center;
  }
  
  header a {
    color: blanchedalmond;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  header li {
    display: inline;
    word-spacing: 5px;
  }

  h1{
    color: black;
  }
  
  header nav {
    float: none;
  
    margin-bottom: 15px;
  }
  
  h3 {
    outline-style: solid;
    outline-width: thick;
  }

  h2 {
    outline-style: solid;
    outline-width: thick;
  }